{
    "installed": {
        "client_id": "your_client_id",
        "project_id": "your_project_id",
        "auth_uri": "auth_uri_here",
        "token_uri": "token_uri_here",
        "auth_provider_x509_cert_url": "cert_url_here",
        "client_secret": "your_client_secret",
        "redirect_uris": [
            "your_redirect_uris"
        ]
    }
}